.details-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.details-back-arrow {
  height: 40px;
  width: 40px;
}

.cart-button {
  position: relative;
}

.cart-quantity {
  left: 35%;
  position: absolute;
}

.details-header * {
  margin: 10px;
}

.details-container {
  display: flex;
  justify-content: center;
}

.details-container div {
  margin: 0 20px;
}

.details-product-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.details-product-info * {
  margin: 10px 0;
}

.details-shipping {
  color: rgb(48, 192, 48);
}

.details-product-description {
  margin: 20px 0;
  width: 800px;
}

.details-addToCart-btn {
  align-self: center;
  margin-top: 20px;
  width: 100px;
}

.revForm-container {
  display: flex;
  flex-direction: column;
}

.revForm-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.revForm-email {
  width: 400px;
}

.revForm-email, .revForm-message {
  margin: 10px;
}

.revForm-button {
  margin: 0 auto 10px;
  width: 80%;
}
