.details-body {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
}

.details-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.details-back-arrow {
  height: 40px;
  width: 40px;
}

.cart-button {
  position: relative;
}

.cart-quantity {
  left: 35%;
  position: absolute;
}

.details-header * {
  margin: 10px;
}

.details-container {
  display: flex;
  justify-content: center;
}

.details-product-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 340px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
}

.details-product-info * {
  margin: 10px 0;
}

.details-shipping {
  width: 50px;
}

.details-quantity-input {
  width: 50px;
}

.details-product-description {
  margin: 50px 0;
  width: 800px;
}

.details-addToCart-btn {
  align-self: center;
  margin-top: 20px;
  width: 100px;
}

.revForm-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 500px;
}

.revForm-form {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.revForm-email, .revForm-message {
  margin: 10px 0;
}

.revForm-button {
  background-color: #00c3ff;
  margin: 0 auto 10px;
  width: 80%;
}

.reviews-container {
  margin: 20px 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.review-container {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 10px;
  width: 500px;
}

.review-container p {
  margin: 10px 0;
}
