.home {
  display: flex;
}

.home-categories {
  background-color: #c7c7c7;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 5px;
  width: 240px;
}

.home-categories span {
  text-align: center;
  margin: 5px;
}

.home-categories label {
  margin: 5px;
}

.home-categories label:last-child {
  margin-bottom: 15px;
}

.home-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  width: 90%;
}

.home-header {
  display: flex;
  margin: 10px 0;
  width: 100%;
}

.home-header input {
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding-left: 50px;
}

.home-search-icon {
  width: 40px;
  height: 40px;
  margin-left: -40px;
  cursor: pointer;
}

.cart-link {
  position: relative;
  margin-right: 10px;
}

.cart-icon {
  width: 40px;
  height: 40px;
}

.cart-quantity-1 {
  color: black;
  font-size: 14px;
  left: 20px;
  top: 8px;
  position: absolute;
}

.cart-quantity-2 {
  color: black;
  font-size: 14px;
  left: 16px;
  top: 8px;
  position: absolute;
}

.home-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-product-card {
  position: relative;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
  height: 390px;
  width: 320px;
  padding: 10px;
}

.home-product-title {
  width: 290px;
}

.home-product-img {
  height: 90px;
}

.home-product-card * {
  margin: 5px;
}

.home-add-cart-icon {
  width: 20px;
  height: 20px;
}

.home-shipping {
  width: 45px;
  position: absolute;
  top: 200px;
  right: 20px;
}
