.slide-container {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  margin: 0;
}

.picture-container img {
  max-height: 500px;
  max-width: 500px;
}

.previous-image {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.next-image {
  cursor: pointer;
  width: 50px;
  height: 50px;
}